.form-control {
  margin-bottom: 1rem;
}

.form-control label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-control input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control button {
  width: 100%;
  padding: 0.7rem;
  border: none;
  background-color: rgb(7, 199, 109);
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
}

.form-control button:hover {
  background-color: rgb(7, 199, 109);
}

.form-control .form-error {
  color: red;
}

.link-container {
  text-align: center;
  margin-top: 20px;
}

.link-container .link {
  color: rgb(7, 199, 109);
  text-decoration: none;
  font-weight: bold;
}

.link-container .link:hover {
  text-decoration: underline;
  color: rgb(7, 199, 109);
}